body {
  color: #333;
}

p {
  font-size: 18px;
  font-family: "Arial", "Calibri", sans-serif;
}

#navbar ul {
  float: right;
}

#navbar ul a:hover {
  background-color: #111;
}

.jumbotron {
  color: #fff;
  padding: 35vh 0;
  height: 100vh;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/218852/raleigh-skyline-bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

#bg-shade {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px 0;
}

hr {
  border: 1px solid #fff;
  box-shadow: 0 0 1px;
}

#social-icons .btn {
  box-shadow: -1px -1px 2px;
  margin-right: 4px;
}

#about {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/218852/001-subtle-light-pattern-background-texture.jpg") no-repeat center center fixed;
  background-size: cover;
  margin-top: -30px;
  padding: 15vh 0;
  height: 50vh;
}

#about blockquote {
  margin-top: 25px;
  font-size: 22px;
}

#about img {
  margin: 30px 0;
  height: 400px;
}

#portfolio {
  color: white;
  padding: 75px 0;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/218852/blue-tech-background.jpg") no-repeat center center fixed;
  background-size: cover;
}

#portfolio img {
  width: 99.999%;
  margin: 20px 0;
  border: 2px solid #eee;
}

#contact {
  min-height: 50px;
  padding: 75px 0;
  background: #333;
  color: #eee;
}

#contact input {
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #333;
}

#contact #subscription {
  float: right;
}

#contact #subscription button {
  float: right;
  font-size: 18px;
}

footer {
  background: #eee;
  padding: 10px 0;
}

footer p {
  margin: 0;
}

footer ul {
  float: right;
}

footer ul li {
  display: inline-block;
  margin-right: 10px;
}

footer ul li a:hover {
  text-decoration: none;
}
